<?xml version="1.0"?>
<configuration>
  <dllmap dll="call_scilab.dll" target="libscilab.so"/>
  <dllmap dll="api_scilab.dll" target="libscilab.so"/>
  <dllmap dll="graphics.dll" target="libscigraphics.so"/>
  <dllmap dll="scioutput_stream.dll" target="libscioutput_stream.so"/>
</configuration>