<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeuristicLab.Clients.Hive.SlaveCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="HeuristicLab.Clients.Hive.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <userSettings>
    <HeuristicLab.Clients.Hive.SlaveCore.Properties.Settings>
      <setting name="LastUsedFileName" serializeAs="String">
        <value>lastUsed.dat</value>
      </setting>
      <setting name="PluginCacheDir" serializeAs="String">
        <value>PluginCache</value>
      </setting>
      <setting name="PluginTempBaseDir" serializeAs="String">
        <value>PluginTemp</value>
      </setting>
      <setting name="ConfigurationName" serializeAs="String">
        <value>Configuration</value>
      </setting>
      <setting name="PluginInfrastructureDll" serializeAs="String">
        <value>HeuristicLab.PluginInfrastructure-3.3.dll</value>
      </setting>
      <setting name="ClientsHiveSlaveCoreDll" serializeAs="String">
        <value>HeuristicLab.Clients.Hive.SlaveCore-3.3.dll</value>
      </setting>
      <setting name="ClientsHiveDll" serializeAs="String">
        <value>HeuristicLab.Clients.Hive-3.3.dll</value>
      </setting>
      <setting name="HiveDll" serializeAs="String">
        <value>HeuristicLab.Hive-3.3.dll</value>
      </setting>
      <setting name="ClientsCommonDll" serializeAs="String">
        <value>HeuristicLab.Clients.Common-3.3.dll</value>
      </setting>
      <setting name="PluginLifetime" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DirOpSleepTime" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="PluginDeletionRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PluginDeletionTimeout" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="ExecutorSemTimeouts" serializeAs="String">
        <value>00:00:46</value>
      </setting>
      <setting name="QueuesMaxThreads" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SlaveCommunicationServiceEndpoint" serializeAs="String">
        <value>SlaveCommunicationServiceEndpoint</value>
      </setting>
      <setting name="SlaveUser" serializeAs="String">
        <value>hiveslave</value>
      </setting>
      <setting name="SlavePwd" serializeAs="String">
        <value>hiveslave</value>
      </setting>
      <setting name="MaxLogCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExecutorQueueTimeout" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="NrOfCoresToScavenge" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ShutdownCommand" serializeAs="String">
        <value>shutdown.exe</value>
      </setting>
      <setting name="HeartbeatInterval" serializeAs="String">
        <value>00:00:40</value>
      </setting>
    </HeuristicLab.Clients.Hive.SlaveCore.Properties.Settings>
    <HeuristicLab.Clients.Hive.Settings>
      <setting name="MaxParallelUploads" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="HLBinaryName" serializeAs="String">
        <value>HeuristicLab 3.3.exe</value>
      </setting>
      <setting name="ResultPollingInterval" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="MaxParallelDownloads" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxRepeatServiceCalls" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AnonymousUserName" serializeAs="String">
        <value>anonymous</value>
      </setting>
      <setting name="EndpointConfigurationPriorities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NetBinding_IHiveService</string>
            <string>WSHttpBinding_IHiveService</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaxEndpointRetries" serializeAs="String">
        <value>3</value>
      </setting>
    </HeuristicLab.Clients.Hive.Settings>
  </userSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
