<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HeuristicLab.Services.Hive.DataAccess.Settings.HeuristicLab_Hive_LinqConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=HeuristicLab.Hive-3.4" />
  </connectionStrings>

  <applicationSettings>
    <HeuristicLab.Services.Hive.DataAccess.Settings>
      <setting name="LongRunningDatabaseCommandTimeout" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>HL.Hive</value>
      </setting>
    </HeuristicLab.Services.Hive.DataAccess.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
