@using HeuristicLab.Services.Access.DataTransfer
@using HeuristicLab.Services.Hive
@if (Request.IsAuthenticated && User.IsInRole(HiveRoles.Administrator)) {
<header class="view-header">
    <ul class="nav nav-list nav-list-topbar pull-left">
        <li>
            <a ng-href="#/statistics/jobs">Jobs</a>
        </li>
        <li>
            <a ng-href="#/statistics/users">Users</a>
        </li>
        <li>
            <a ng-href="#/statistics/clients">Clients</a>
        </li>
        <li>
            <a ng-href="#/statistics/groups">Groups</a>
        </li>
        <li class="active">
            <a ng-href="#/statistics/exceptions">Exceptions</a>
        </li>
    </ul>
</header>

<div class="default-view-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Groups</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed" ts-wrapper>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th ts-criteria="JobName">Job</th>
                            <th ts-criteria="TaskId">Task</th>
                            <th ts-criteria="UserName">Username</th>
                            <th ts-criteria="ClientName">Client</th>
                            <th ts-criteria="Date">Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr ng-repeat="exception in exceptionPage.Exceptions" ts-repeat>
                            <td>{{($index + 1)+((curExceptionsPage-1)*(exceptionsPageSize))}}</td>
                            <td><a ng-href="#/statistics/jobs/{{exception.JobId}}">{{exception.JobName}}</a></td>
                            <td>{{exception.TaskId}}</td>
                            <td><a ng-href="#/statistics/users/{{exception.UserId}}">{{exception.UserName}}</a></td>
                            <td><a ng-href="#/statistics/clients/{{exception.ClientId}}">{{exception.ClientName}}</a></td>
                            <td>{{exception.Date | toDate}}</td>
                            <td><a class="cursor-pointer" ng-click="openDialog(exception.Details)">Details</a></td>
                        </tr>
                        <tr ng-hide="exceptionPage.Exceptions.length">
                            <td colspan="7" class="text-center">No exceptions found!</td>
                        </tr>
                    </table>
                    <div class="row text-center" ng-show="exceptionPage.TotalExceptions > exceptionPage.Exceptions.length">
                        <pagination max-size="10" total-items="exceptionPage.TotalExceptions" ng-model="curExceptionsPage" ng-change="changeExceptionsPage()"
                                    items-per-page="exceptionsPageSize" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}