<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Exception Details</h4>
</div>
<div class="modal-body">
    <div style="overflow:auto;">
        <p style="word-wrap: break-word;">{{message}}</p>
    </div>
</div>