<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HeuristicLab.Authentication"
         connectionString="Data Source=.;Initial Catalog=HeuristicLab.Authentication;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="AspNetSqlMemberShipProvider"
              type="System.Web.Security.SqlMembershipProvider"
              connectionStringName="HeuristicLab.Authentication"
              enablePasswordRetrieval="false"
              enablePasswordReset="true"
              requiresQuestionAndAnswer="false"
              passwordFormat="Hashed"
              applicationName="HeuristicLab.Authentication"
              requiresUniqueEmail="false"
              minRequiredPasswordLength="1"
              minRequiredNonalphanumericCharacters="0"
              maxInvalidPasswordAttempts="50" />
      </providers>
    </membership>
    <authentication mode="Windows" />
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="HeuristicLab.Authentication" applicationName="HeuristicLab.Authentication" />
      </providers>
    </roleManager>
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DefaultWsHttpBinding" maxBufferPoolSize="10000000" maxReceivedMessageSize="200000000">
          <readerQuotas maxDepth="1000" maxStringContentLength="16000" maxArrayLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="16000" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <mexHttpBinding>
        <binding name="DefaultMexHttpBinding" />
      </mexHttpBinding>
    </bindings>

    <diagnostics performanceCounters="Default">
      <!--<messageLogging logMalformedMessages="false" logMessagesAtTransportLevel="false" />-->
    </diagnostics>

    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine"
                                storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
                                    membershipProviderName="AspNetSqlMembershipProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
                                roleProviderName="AspNetSqlRoleProvider" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="HeuristicLab.Services.Access.AccessService" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="DefaultMexHttpBinding" contract="IMetadataExchange" />
        <endpoint behaviorConfiguration="DefaultEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
                  contract="HeuristicLab.Services.Access.IAccessService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/AccessService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>