<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HeuristicLab.Authentication"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=HeuristicLab.Authentication" />
    <add name="HeuristicLab.Services.OKB.DataAccess.Properties.Settings.OKBConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=HeuristicLab.OKB" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HeuristicLab.Authentication"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="HeuristicLab.Authentication" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HeuristicLab.Authentication"
             applicationName="HeuristicLab.Authentication" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <mexHttpBinding>
        <binding name="DefaultMexHttpBinding" />
      </mexHttpBinding>
      <wsHttpBinding>
        <binding name="DefaultWsHttpBinding" maxReceivedMessageSize="200000000">
          <readerQuotas maxArrayLength="200000000" maxBytesPerRead="200000000" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="AspNetSqlRoleProvider" />
          <serviceCredentials>
            <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="AspNetSqlMembershipProvider" />
          </serviceCredentials>
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>     
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.Administration.AdministrationService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="DefaultMexHttpBinding"
          contract="IMetadataExchange" />
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          contract="HeuristicLab.Services.OKB.Administration.IAdministrationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/OKB-3.3/AdministrationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.RunCreation.RunCreationService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="DefaultMexHttpBinding"
          contract="IMetadataExchange" />
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          contract="HeuristicLab.Services.OKB.RunCreation.IRunCreationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/OKB-3.3/RunCreationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.Query.QueryService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="DefaultMexHttpBinding"
          contract="IMetadataExchange" />
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          contract="HeuristicLab.Services.OKB.Query.IQueryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/OKB-3.3/QueryService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>