<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HeuristicLab.Authentication" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HeuristicLab.Authentication"/>
    <add name="HeuristicLab.Services.OKB.DataAccess.Properties.Settings.OKBConnectionString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HeuristicLab.OKB"/>
  </connectionStrings>

  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HeuristicLab.Authentication"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="false" applicationName="HeuristicLab.Authentication" minRequiredPasswordLength="8"
             minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HeuristicLab.Authentication" applicationName="HeuristicLab.Authentication" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.Administration.AdministrationService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          contract="HeuristicLab.Services.OKB.Administration.IAdministrationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://services.heuristiclab.com/OKB-3.3/AdministrationService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.Query.QueryService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          name="WSHttpBinding_IQueryService" contract="HeuristicLab.Services.OKB.Query.IQueryService" />
        <endpoint address="net.tcp://services.heuristiclab.com/OKB-3.3/QueryService.svc"
          binding="netTcpBinding" bindingConfiguration="DefaultNetBinding"
          name="NetBinding_IQueryService" contract="HeuristicLab.Services.OKB.Query.IQueryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://services.heuristiclab.com/OKB-3.3/QueryService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="HeuristicLab.Services.OKB.RunCreation.RunCreationService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultWsHttpBinding"
          contract="HeuristicLab.Services.OKB.RunCreation.IRunCreationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://services.heuristiclab.com/OKB-3.3/RunCreationService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetBinding" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="DefaultWsHttpBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
            roleProviderName="AspNetSqlRoleProvider" />
          <serviceCredentials>
            <serviceCertificate findValue="services.heuristiclab.com" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
              membershipProviderName="AspNetSqlMembershipProvider" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
