<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeuristicLab.Services.Hive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <HeuristicLab.Services.Hive.Properties.Settings>
      <setting name="SlaveHeartbeatTimeout" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="CalculatingJobHeartbeatTimeout" serializeAs="String">
        <value>00:05:30</value>
      </setting>
      <setting name="TransferringJobHeartbeatTimeout" serializeAs="String">
        <value>00:15:00</value>
      </setting>
      <setting name="TriggerEventManagerInHeartbeat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanupInterval" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="SweepInterval" serializeAs="String">
        <value>3.00:00:00</value>
      </setting>
      <setting name="SchedulingPatience" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="ProfileServicePerformance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateStatisticsInterval" serializeAs="String">
        <value>00:03:00</value>
      </setting>
    </HeuristicLab.Services.Hive.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
