<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeuristicLab.Clients.Hive.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <HeuristicLab.Clients.Hive.Settings>
      <setting name="MaxParallelUploads" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="HLBinaryName" serializeAs="String">
        <value>HeuristicLab 3.3.exe</value>
      </setting>
      <setting name="ResultPollingInterval" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="MaxParallelDownloads" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxRepeatServiceCalls" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AnonymousUserName" serializeAs="String">
        <value>anonymous</value>
      </setting>
      <setting name="MaxEndpointRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EndpointConfigurationPriorities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NetBinding_IHiveService</string>
            <string>WSHttpBinding_IHiveService</string>
          </ArrayOfString>
        </value>
      </setting>
    </HeuristicLab.Clients.Hive.Settings>
  </applicationSettings>

  <!--
    !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!!
    If you want to update the configuration with the GenerateServiceClients.cmd, make sure to remove all child nodes of system.serviceModel first.
  -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetBinding_IHiveService" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHiveService" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.heuristiclab.com/Hive-3.4/HiveService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHiveService"
        contract="HeuristicLab.Clients.Hive.IHiveService" name="WSHttpBinding_IHiveService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://services.heuristiclab.com/Hive-3.4/HiveService.svc"
        binding="netTcpBinding" bindingConfiguration="NetBinding_IHiveService"
        contract="HeuristicLab.Clients.Hive.IHiveService" name="NetBinding_IHiveService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
