<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HeuristicLab.Clients.OKB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <!--
    !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!! ATTENTION !!!
    If you want to update the configuration with the GenerateServiceClients.cmd, make sure to remove all child nodes of system.serviceModel first.
  -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetBinding_IQueryService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAdministrationService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQueryService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRunCreationService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.heuristiclab.com/OKB-3.3/AdministrationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdministrationService"
        contract="HeuristicLab.Clients.OKB.Administration.IAdministrationService"
        name="WSHttpBinding_IAdministrationService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
      <endpoint address="http://services.heuristiclab.com/OKB-3.3/QueryService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQueryService"
        contract="HeuristicLab.Clients.OKB.Query.IQueryService" name="WSHttpBinding_IQueryService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://services.heuristiclab.com/OKB-3.3/QueryService.svc"
        binding="netTcpBinding" bindingConfiguration="NetBinding_IQueryService"
        contract="HeuristicLab.Clients.OKB.Query.IQueryService" name="NetBinding_IQueryService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
      <endpoint address="http://services.heuristiclab.com/OKB-3.3/RunCreationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRunCreationService"
        contract="HeuristicLab.Clients.OKB.RunCreation.IRunCreationService"
        name="WSHttpBinding_IRunCreationService">
        <identity>
          <dns value="services.heuristiclab.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <HeuristicLab.Clients.OKB.Properties.Settings>
      <setting name="MaxEndpointRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EndpointConfigurationPriorities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NetBinding_IQueryService</string>
            <string>WSHttpBinding_IQueryService</string>
          </ArrayOfString>
        </value>
      </setting>
    </HeuristicLab.Clients.OKB.Properties.Settings>
  </applicationSettings>
</configuration>
