<div class="default-view-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Responsible for Contents and Editing of Pages</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Heuristic and Evolutionary Algorithms Laboratory (HEAL)</strong><br />
                        School of Informatics, Communications and Media<br />
                        University of Applied Sciences Upper Austria<br />
                        Softwarepark 11<br />
                        A-4232 Hagenberg, Austria<br />
                        (media owner and editor for the purposes of the Austrian Media Act)<br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Support</strong>: <a href="App/RedirectUrl?url=http://groups.google.com/group/heuristiclab">HeuristicLab Google Group</a></p>
                    <p><strong>Inquiries</strong>: ​<a class="cursor-pointer" ng-click="mailToSupport()">support(at)heuristiclab.com</a></p>
                    <p><strong>Heuristic and Evolutionary Algorithms Laboratory (HEAL)</strong>: <a href="App/RedirectUrl?url=http://heal.heuristiclab.com">​http://heal.heuristiclab.com</a></p>
                    <p><strong>HeuristicLab development site</strong>: <a href="App/RedirectUrl?url=http://dev.heuristiclab.com">http://dev.heuristiclab.com</a></p>
                    <p>
                        <strong>Head of HeuristicLab</strong>: <br />
                        FH-Prof. DI Dr. Stefan Wagner<br />
                        <span class="glyphicon glyphicon-phone-alt"></span> +43 50804 22030<br />
                        <span class="glyphicon glyphicon-print"></span> +43 50804 21599<br />
                        <span class="glyphicon glyphicon-envelope"></span> <a class="cursor-pointer" ng-click="mailToStefanWagner()">stefan.wagner(at)heuristiclab.com</a><br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Disclaimer</h3>
                </div>
                <div class="panel-body">
                    <p style="text-align: justify">HeuristicLab, Hive and HeuristicLab WebApp are distributed in the hope that they will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details (<a href="App/RedirectUrl?url=http://www.gnu.org/licenses">http://www.gnu.org/licenses</a>). </p>
                </div>
            </div>
        </div>
    </div>
</div>